<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foundation to Decrease World Suck Financials</title>
    <link rel="stylesheet" href="../common/styles.css">
</head>
<body>
    <div class="navbar"><a class="navbutton" href="../index.html">Home</a> <a class="navbutton" href="charity_table.html">P4A Charities</a></div>
    <h1>Foundation to Decrease World Suck Financials</h1>
    <div>
        <h3 class="totals">Total Raised: ${total_raised}&emsp;&emsp;&emsp;&emsp;Total Grants: ${total_grants}&emsp;&emsp;&emsp;&emsp;Other Expenses: ${other_expenses}*</h3>
    </div>
    <div>${graph_html}</div>
    <div class="textbox">
        <p>^Values for previous years come from the Foundation to Decrease World Suck tax documents at <a href="https://fightworldsuck.org/#Grants">https://fightworldsuck.org/#Grants</a>.</p>

        <p>*Values for the most recent year come from <a href="https://www.projectforawesome.com/">https://www.projectforawesome.com/</a>. These only include P4A fundraising and P4A grants. Costs including credit card fees and shipping will not be known until tax documents come out for that year.</p>
        
        <p>Before 2020, P4A was in December, so grants were typically distributed the year after the revenue came in. Values represent the year when the transactions happened, not necessarily the P4A they correspond to.</p>
    </div>
</body>
</html>
