<!doctype html>
<html>
  <head>
    <title>P4A Charities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  </head>
  <body>
    <div class="container">
      <h1>P4A Charities</h1>
      <hr>
      ${table_content}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
      $(document).ready(function () {
        $('#charitytable').DataTable({
          order: [[3, 'desc']],
          pageLength: 300,
          columnDefs: [
            {
                targets: 0,
                className: 'dt-body-left'
            },
            {
                targets: 1,
                className: 'dt-body-left'
            },
            {
                targets: 2,
                className: 'dt-body-left'
            },
            {
                targets: 3,
                className: 'dt-body-right'
            },
            {
                targets: 4,
                className: 'dt-body-right'
            },
            {
                targets: 5,
                className: 'dt-body-right'
            }
          ]
        });
      });
    </script>
  </body>
</html>