* {
    margin: 0;
    --regular-shadow: 0.1em 0.1em 1em rgb(10 10 10 / 35%);

    --aside-shadow: -0.7em 0.7em 0px 0px var(--accent-bg), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-close: -0.5em 0.5em 0px 0px var(--accent-bg), -0.5em 0.5em 0px 3px var(--fg);
    --aside-shadow-far: -1em 1em 0px 0px var(--accent-bg), -1em 1em 0px 3px var(--fg);

    --aside-shadow-lblue: -0.7em 0.7em 0px 0px var(--accent-light-blue), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-lblue-close: -0.5em 0.5em 0px 0px var(--accent-light-blue), -0.5em 0.5em 0px 3px var(--fg);
    --aside-shadow-dblue: -0.7em 0.7em 0px 0px var(--accent-blue), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-green: -0.7em 0.7em 0px 0px var(--accent-green), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-yellow: -0.7em 0.7em 0px 0px var(--accent-yellow), -0.7em 0.7em 0px 3px var(--fg);

    --aside-border: 3px solid var(--fg);
    --aside-border-subtle: 3px solid var(--bg2);
    --aside-border-accent: 3px solid var(--accent-fg);

    --fg: #121212;
    --bg: #fcf3e3;
    --bg2: #dddad4;
    --accent-bg: #bc1c1a;
    --accent-bg-low-opacity: rgba(188, 28, 26, 0.2);
    --accent-fg: #d7211e;
    --accent-green: #42aa8b;
    --accent-light-blue: #1e91ce;
    --accent-blue: #003049;
    --accent-yellow: #fdbf4a;
    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: "Atkinson Hyperlegible", sans-serif;
}


h1 {
    color: black;
    text-align: center;
}

.usmap {
    width:100%;
    max-width: 800px;
    margin:auto;
}

.wideplot {
    width:100%;
    min-height:420px
}

.box-section {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: var(--aside-shadow);
    background: var(--bg);
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    border: var(--aside-border);
}

.textbox {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    clear: left;
}

.textbox p{
    font-size: 12px;
}

.totals {
    text-align: center;
}

.navbar {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbutton {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #bbd2ea;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    float:left;
}

.navbutton:hover {
    background-color: white;
    color: #162a54;
}

.luckybutton {
    float: left;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #bbd2ea;
    text-decoration: none;
    border-radius: 10px;
    color: black;
}

.luckybutton:hover {
    background-color: white;
    color: #162a54;
}

.luckybutton:visited{
    color: purple;
}

.lilbutton {
    float: left;
    text-align: left;
    border-radius: 10px;
    padding: 2px 5px 3px 5px;
    margin: 2px;
    background-color: #bbd2ea;
    text-decoration: none;
    color: black;
    width: 100%;
}

.lilbutton:hover {
    background-color: white;
    color: #162a54;
}

.lilbutton:visited {
    color: purple;
}

.charitytag {
    background-color: #f2d8ae;
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.liltag {
    background-color: #edf4d4;
    float: left;
    border-radius: 10px;
    padding: 2px 5px 3px 5px;
    margin: 2px;
    font-size: 0.9em;
    text-decoration: none;
}

#tags {
    margin: 0 auto;
    float: left;
}

.outertags {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.linkstack {
    float:left
}

.subtitle {
    text-align: center;
    margin: 0 auto;
    padding: 3px;
}

.stat {
    font-weight: bold;
}

.year_section {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background-color: #eeeeee;
    box-shadow: 4px 4px #888888;
    border-radius: 20px;
}

.video_div {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    vertical-align: top;
}

.featured_web{
    background-color: #D3FF6B;
}

.thumbnail {
    width: 200px;
}

#tester {
    width: 100%;
    
}

.year_title {
    background-color: #cccccc;
    margin: 20px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.filter-box {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    background-color: #eeeeee;
}

details {
    background-color: #eeeeee;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.clickable {
    pointer-events: auto;
    cursor: pointer;
}



.not-clickable > summary {
    list-style-type: circle;
}

#tag_header{
    text-align: center;
}

.billbox{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}