body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: black;
    text-align: center;
}

.textbox {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    clear: left;
}

.textbox p{
    font-size: 12px;
}

.totals {
    text-align: center;
}

.navbar {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: table;
}

.navbutton {
    float: left;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #bbd2ea;
    text-decoration: none;
    border-radius: 10px;
    color: black;
}

.navbutton:hover {
    background-color: white;
    color: #162a54;
}

.lilbutton {
    float: left;
    text-align: left;
    border-radius: 10px;
    padding: 2px 5px 3px 5px;
    margin: 2px;
    background-color: #bbd2ea;
    text-decoration: none;
    color: black;
    width: 100%;
}

.lilbutton:hover {
    background-color: white;
    color: #162a54;
}

.lilbutton:visited {
    color: purple;
}

.charitytag {
    background-color: #f2d8ae;
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.liltag {
    background-color: #edf4d4;
    float: left;
    border-radius: 10px;
    padding: 2px 5px 3px 5px;
    margin: 2px;
    font-size: 0.9em;
}

#tags {
    margin: 0 auto;
    float: left;
}

.outertags {
    display: flex;
    align-items: center;
}

.linkstack {
    float:left
}

.subtitle {
    text-align: center;
    margin: 0 auto;
    padding: 3px;
}

.stat {
    font-weight: bold;
}

.year_section {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background-color: #eeeeee;
    box-shadow: 4px 4px #888888;
    border-radius: 20px;
}

.video_div {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    vertical-align: top;
}

.thumbnail {
    width: 200px;
}

#tester {
    width: 100%;
    
}

.year_title {
    background-color: #cccccc;
    margin: 20px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.filter-box {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 30%;
    min-height: 10em;
    vertical-align: middle;
    background-color: #eeeeee;
}

details {
    background-color: #eeeeee;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}