* {
    margin: 0;
    --regular-shadow: 0.1em 0.1em 1em rgb(10 10 10 / 35%);

    --aside-shadow: -0.7em 0.7em 0px 0px var(--accent-bg), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-close: -0.5em 0.5em 0px 0px var(--accent-bg), -0.5em 0.5em 0px 3px var(--fg);
    --aside-shadow-far: -1em 1em 0px 0px var(--accent-bg), -1em 1em 0px 3px var(--fg);

    --aside-shadow-lblue: -0.7em 0.7em 0px 0px var(--accent-light-blue), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-lblue-close: -0.5em 0.5em 0px 0px var(--accent-light-blue), -0.5em 0.5em 0px 3px var(--fg);
    --aside-shadow-dblue: -0.7em 0.7em 0px 0px var(--accent-blue), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-green: -0.7em 0.7em 0px 0px var(--accent-green), -0.7em 0.7em 0px 3px var(--fg);
    --aside-shadow-yellow: -0.7em 0.7em 0px 0px var(--accent-yellow), -0.7em 0.7em 0px 3px var(--fg);

    --aside-border: 3px solid var(--fg);
    --aside-border-subtle: 3px solid var(--bg2);
    --aside-border-accent: 3px solid var(--accent-fg);

    --fg: #121212;
    --bg: #fcf3e3;
    --bg2: #dddad4;
    --accent-bg: #bc1c1a;
    --accent-bg-low-opacity: rgba(188, 28, 26, 0.2);
    --accent-fg: #d7211e;
    --accent-green: #42aa8b;
    --accent-green-hover:  #5ec3a5;
    --accent-light-blue: #1e91ce;
    --accent-pale-blue: #a1cfe8;
    --accent-blue: #003049;
    --accent-yellow: #fdbf4a;
    --accent-yellow-hover: #f5d497;
    box-sizing: border-box;
}


body {
    background-color: var(--accent-blue);
    font-family: "Atkinson Hyperlegible", sans-serif;
}


a:link {
    color: var(--fg);
    font-weight: bold;
}

a:visited{
    color: var(--fg)
}

h1 {
    color: var(--fg);
    text-align: center;
}

.usmap {
    width:100%;
    max-width: 800px;
    margin:auto;
}

.wideplot {
    width:100%;
    min-height:420px
}

.box-section {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: var(--aside-shadow);
    background: var(--bg);
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    border: var(--aside-border);
}

.text-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.textbox {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    clear: left;
}

.textbox p{
    font-size: 12px;
}

.totals {
    text-align: center;
}

.navbar {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbutton {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: var(--accent-yellow);
    text-decoration: none;
    border-radius: 10px;
    color: var(--fg);
    float: left;
    font-weight:normal !important;
}

.navbutton:hover {
    background-color: var(--accent-yellow-hover);
    color: var(--fg);
}

.legislatorbutton {
    background-color: var(--accent-pale-blue);
    font-weight: normal !important;
}

.outertags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.subtitle {
    text-align: center;
    margin: 0 auto;
    padding: 3px;
}

.stat {
    font-weight: bold;
}

.year_section {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background-color: #eeeeee;
    box-shadow: 4px 4px #888888;
    border-radius: 20px;
}

.year_title {
    background-color: #cccccc;
    margin: 20px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.filter-box {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    background-color: #eeeeee;
}

details {
    background-color: var(--bg2);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.clickable {
    pointer-events: auto;
    cursor: pointer;
}

.not-clickable > summary {
    list-style-type: circle;
}

#tag_header{
    text-align: center;
}

.billbox{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}